.colors-sampler {
  .text-color {
    color: var(--text-color);
  }
  .text-color-subtle {
    color: var(--text-color-subtle);
  }
  .text-color-highlight {
    color: var(--text-color-highlight);
  }
  .text-color-selected {
    color: var(--text-color-selected);
  }

  .text-color-info {
    color: var(--text-color-info);
  }
  .text-color-success {
    color: var(--text-color-success);
  }
  .text-color-warning {
    color: var(--text-color-warning);
  }
  .text-color-error {
    color: var(--text-color-error);
  }

  /* Background ----------------- */
  .background-color-info {
    color: var(--background-color-info);
  }
  .background-color-success {
    color: var(--background-color-success);
  }
  .background-color-warning {
    color: var(--background-color-warning);
  }
  .background-color-error {
    color: var(--background-color-error);
  }

  .background-color-highlight {
    color: var(--background-color-highlight);
  }
  .background-color-selected {
    color: var(--background-color-selected);
  }

  .app-background-color {
    color: var(--app-background-color);
  }

  /* Base ----------------- */
  .base-background-color {
    color: var(--base-background-color);
  }
  .base-border-color {
    color: var(--base-border-color);
  }

  /* Components ----------------- */
  .pane-item-background-color {
    color: var(--pane-item-background-color);
  }
  .pane-item-border-color {
    color: var(--pane-item-border-color);
  }

  .input-background-color {
    color: var(--input-background-color);
  }
  .input-border-color {
    color: var(--input-border-color);
  }

  .tool-panel-background-color {
    color: var(--tool-panel-background-color);
  }
  .tool-panel-border-color {
    color: var(--tool-panel-border-color);
  }

  .inset-panel-background-color {
    color: var(--inset-panel-background-color);
  }
  .inset-panel-border-color {
    color: var(--inset-panel-border-color);
  }

  .panel-heading-background-color {
    color: var(--panel-heading-background-color);
  }
  .panel-heading-border-color {
    color: var(--panel-heading-border-color);
  }

  .overlay-background-color {
    color: var(--overlay-background-color);
  }
  .overlay-border-color {
    color: var(--overlay-border-color);
  }

  .button-background-color {
    color: var(--button-background-color);
  }
  .button-background-color-hover {
    color: var(--button-background-color-hover);
  }
  .button-background-color-selected {
    color: var(--button-background-color-selected);
  }
  .button-border-color {
    color: var(--button-border-color);
  }

  .tab-bar-background-color {
    color: var(--tab-bar-background-color);
  }
  .tab-bar-border-color {
    color: var(--tab-bar-border-color);
  }
  .tab-background-color {
    color: var(--tab-background-color);
  }
  .tab-background-color-active {
    color: var(--tab-background-color-active);
  }
  .tab-border-color {
    color: var(--tab-border-color);
  }

  .tree-view-background-color {
    color: var(--tree-view-background-color);
  }
  .tree-view-border-color {
    color: var(--tree-view-border-color);
  }

  .ui-site-color-1 {
    color: var(--ui-site-color-1);
  }
  .ui-site-color-2 {
    color: var(--ui-site-color-2);
  }
  .ui-site-color-3 {
    color: var(--ui-site-color-3);
  }
  .ui-site-color-4 {
    color: var(--ui-site-color-4);
  }
  .ui-site-color-5 {
    color: var(--ui-site-color-5);
  }

  /*     ######  ##    ## ##    ## ########    ###    ##     ## */
  /*    ##    ##  ##  ##  ###   ##    ##      ## ##    ##   ## */
  /*    ##         ####   ####  ##    ##     ##   ##    ## ## */
  /*     ######     ##    ## ## ##    ##    ##     ##    ### */
  /*          ##    ##    ##  ####    ##    #########   ## ## */
  /*    ##    ##    ##    ##   ###    ##    ##     ##  ##   ## */
  /*     ######     ##    ##    ##    ##    ##     ## ##     ## */
  .syntax-text-color {
    color: var(--syntax-text-color);
  }
  .syntax-cursor-color {
    color: var(--syntax-cursor-color);
  }
  .syntax-selection-color {
    color: var(--syntax-selection-color);
  }
  .syntax-background-color {
    color: var(--syntax-background-color);
  }

  /* Guide colors */
  .syntax-wrap-guide-color {
    color: var(--syntax-wrap-guide-color);
  }
  .syntax-indent-guide-color {
    color: var(--syntax-indent-guide-color);
  }
  .syntax-invisible-character-color {
    color: var(--syntax-invisible-character-color);
  }

  /* For find and replace markers */
  .syntax-result-marker-color {
    color: var(--syntax-result-marker-color);
  }
  .syntax-result-marker-color-selected {
    color: var(--syntax-result-marker-color-selected);
  }

  /* Gutter colors */
  .syntax-gutter-text-color {
    color: var(--syntax-gutter-text-color);
  }
  .syntax-gutter-text-color-selected {
    color: var(--syntax-gutter-text-color-selected);
  }
  .syntax-gutter-background-color {
    color: var(--syntax-gutter-background-color);
  }
  .syntax-gutter-background-color-selected {
    color: var(--syntax-gutter-background-color-selected);
  }

  /* For git diff info. i.e. in the gutter */
  .syntax-color-renamed {
    color: var(--syntax-color-renamed);
  }
  .syntax-color-added {
    color: var(--syntax-color-added);
  }
  .syntax-color-modified {
    color: var(--syntax-color-modified);
  }
  .syntax-color-removed {
    color: var(--syntax-color-removed);
  }
}
